{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user is null %}
        <div class="text-2xl mb-5 text-center">{{ "HELLO WORLD!"|trans }}</div>
    {% else %}
        <div class="text-2xl mb-5 text-center">HOLA {{ app.user.username|capitalize }}!</div>
        {{ include('resoluciones/_resoluciones.html.twig', {resoluciones: resoluciones}) }}
    {% endif %}
{% endblock %}
