<div class="w-full">
    <table class=" table-auto border-collapse border border-slate-500 ">
        <thead>
        <tr>
            <th>Curso</th>
            <th>Clave</th>
            <th>Cohorte</th>
            <th>Cursantes</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            {% if resoluciones|length > 0 %}
                {% for resolucion in resoluciones %}
                    {{ include('resoluciones/_resolucion.html.twig', {resolucion: resolucion}) }}
                {% endfor %}
            {% endif %}

</div>
